/* styles.module.css */
.imageContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .imageWrapper {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .imageWrapper:hover .image {
    transform: scale(1.1);
  }
  